.followingPageBody {
    
    padding-top: 100px;
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.followersDetailContainer {
 
    display: flex;
    flex-direction: row;
    height: 150px;
   
 
}

.followersDetail {
    text-decoration: none;
    color: black; 
    padding-top: 40px;
    padding-left: 30px;
    font-size: 20px;
}

