

.post-detail__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 15px;
    width: 600px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
}

.icon-username__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.post-icon{
    margin-right: 10px;
    border-radius: 60%;
    width: 50px;
    height: 50px;
}

.liked{
    color: red;
    font-size: 20px;
}

.unliked{
    font-size: 20px;
}

.fa-heart:hover{
    cursor: pointer;
}

.likebutton{
    border: 0px solid white;
    background-color: white;
}

.div-in-post{
    padding: 9px;


}

.post-comment__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.post-comment__button{
    background-color: white;
    border: 0px;
    background-color: #0c8fe7;
    color: #f5f7f9;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 8px;
}
.post-comment__button:hover{
cursor: pointer;
}

.like-delete__container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.caption-button__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.edit-post{
    font-size: 20px;
}
.edit-post:hover{
    color: green;
}
.delete-post{
    padding-left: 10px;
    font-size: 20px;
}
.delete-post:hover{
    color:blue;
}


.timestamp-postdetails{
    font-size: 13px;
    padding-top: 10px;
    color:grey;
    padding-left: 10px
}

.comment-msg{
    color: grey;

}