.entire__navabar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
}

.navbar__container{
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.384);
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0px;
  width: 100%;

}

.artygram_logo {
width: 150px;
margin-right: 10px;
}

.addpic{
   width: 40px;
   margin-right: 15px;
}

.addpicHover:hover{
    cursor: pointer;

}

.right-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.navbarProPic{
   width: 26px;
   border-radius: 50% ;
  height: 28px;
  margin-top: 7px;
}
.search{
  width:300px;
  height: 25px;
  border-radius: 8px;
  text-align: center;
}

.logout__container{
  display: flex;
  justify-content: center;
  align-items: center;
}
