/* TODO Add site wide styles */
body, html {
    padding-left: 165px;
    align-content: center;
    width: 60%;
    min-width: 500px;
    align-items: center;
    display: flex;
    position: relative;
    margin: auto;
}