/* TODO Add site wide styles */


body, html{
  position: relative;
  min-height: 100vh;
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto

}


