.photo-feed__container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}

.single-post__container{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 15px;
    width: 600px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
}

.icon-username__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.post-icon{
    margin-right: 10px;
    border-radius: 60%;
    width: 50px;
    height: 50px;
}

.post-img{
    width: 600px
}

.liked{
    color: red;
    font-size: 20px;
}

.unliked{
    font-size: 20px;
}

.fa-heart:hover{
    cursor: pointer;
}

.likebutton{
    border: none;
    background-color: white;
    padding-bottom: 2px;
    padding-top: 2px;
    
}

.post-username {
    text-decoration: none;
    color: black;
}

.caption-photofeed{
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.like-button-container{
    padding: 4px;
}

.photofeed-details-container{
    padding: 10px;
}

.timestamp{
    font-size: 12px;
    padding-top: 20px;
    color:grey
}