body, html {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS';
    align-content: center;
    width: 60%;
    min-width: 500px;
    align-items: center;
    display: flex;
    position: relative;
    margin: auto;
}
