.userPageBody {
    padding-top: 100px;
}
.userDetails {
    display: flex;
    flex-direction: row;
}
.userProfilePic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.postFollowerFollowing {
    display: flex;
    flex-direction: row;
    
}
.userPhotoFeed {

    display: flex;
    flex-direction: row;
   
}

.userPostPhoto {
    width: 300px;
    height: 300px;
}

.post_followers_following {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    padding-left: 20px;
    width: 500px;
}

/* a:link {
    color: black;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
} */

